@tailwind base;
@tailwind components;
@tailwind utilities;

.neu {
	box-shadow:
		3px 3px 6px #cfcfd1,
		-3px -3px 6px #ffffff;
}

.neu.lg {
	box-shadow:
		4px 4px 8px #cfcfd1,
		-4px -4px 8px #ffffff;
}

.neu button.neu {
	box-shadow:
		2px 2px 4px #cfcfd1,
		-2px -2px 4px #ffffff;
}

button.neu {
	background: linear-gradient(145deg, #ffffff, #dbdcdd);
}

button.neu:active {
	background: initial;
}

button.neu:hover,
button.neu:active {
	color: rgb(132 204 22);
}
